html /* Set attribut of main parent for children to auto inherit */
{   
    height: 100%;
    width: 100%;
}

body { /* Set attribut of parent for child ( and move to top:8vh because of the fixed header is out of normal flow of the page */
    display: block;
    min-height: 100%;
    height: auto;
    position: absolute;
    top: 8vh; left: 0;

}

.cancel_animation * {
    animation: none!important;
    transition: none!important;
}

* /* Applied to all element*/
{
    font-family: "arial";
    margin: 0;
    padding: 0;
}

header { /* Fixed header */
    color: red;
    position: fixed;
    top: 0; left: 0; right: 0;
    width: 100%;
    height: 6vh;
    padding-top: 2vh;
    background-color: rgba(255,255,255,1);
    z-index: 1000;
    opacity: 1;
    justify-content: center;
}

#square_left, #square_right { /* Setup div for animation */
    animation: spin 3s linear infinite 0s;
    width: 2vmin;
    height: 2vmin;
    background-color: red;
}

@keyframes spin { /* Spin is cool */
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#square_left { /* one left */
    position: absolute;
    left: 20%; top: 50%;
}

#square_right { /* and one right */
    position: absolute;
    right: 20%; top: 50%;
}

.titre /* Define tilte of the header : Arcarox (my pseudo) */
{
    position: absolute;
    left: 0; right: 0;
    color: red;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 5vh;
    opacity: 1;
    transition: opacity 2s;
    transition-delay: 1s;
}

.titre2 { /* Define the hidden title of the header : just for add little animation and i love baloo */
    position: absolute;
    left: 0; right: 0;
    font-size: 2.5vh;
    font-style: italic;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 2s;

}

header:hover > .titre { /* make the first disappear */
    opacity: 0;
    transition: opacity 2s;
}

header:hover > .titre2 { /* make the second text appears after the first disappear */
    opacity: 1;
    transition: opacity 2s;
    transition-delay: 1s;
}

.ligne /* A ligne to mark the split between content and title */
{
    position: absolute;
    bottom: 0;
    border-color : red;
    border-style: solid;
    border-bottom-width: 0.1vh;
    width: 100%;
    transform: scale(0.7,1);
    display: flex;
    justify-content: center;

}

main { /* Parent of main content (y know 3 part of a body : header main footer)*/
    text-align: center;
}


a { /* Applied to all <a>*/
    display: inline-block;
    width: auto;
    height: auto;
}

ul{ /* Applied to all <ul> */
    list-style: none;
    display: block;
    margin: auto;
    padding: 0;
}

.menu { /* main menu */
    width: 100vw;
    margin: 4vh 0;
    color: red;
    text-decoration: none;
}

ul.menu{ /* specifies for ul menu */
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
}

.hide, .show { /* Define the class toggle Onclick of the main menu title */ /* max-height: 0 and overflow hidden hide content */
    max-height: 0;     
    overflow-y: hidden;
    transition: max-height 0.3s linear;
    margin-bottom: 2vh;
}

.show { /* the height can take the full place so he is displaying because there is no overflow */
    transition-delay: 0.3s;
    transition-duration: 0.6s;
    max-height: 100vh;
}

.underline { /* class toggle Onclick on the main menu title */ /* Just underline the active part of the menu */
    text-decoration: underline;
    text-decoration-color: blue!important;
    -webkit-text-decoration-color: blue;
}

#about, #project_btn{ /* Define the 2 "button" of the main menu */
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 2.5vh;
    object-fit: fill;
}

#about:hover, #project_btn:hover{ /* Just highlight on hover */
    background-color: red;
    color: white;
    cursor: pointer;
}

#about_btn_title, #project_btn_title { /* Padding for the clickable area */
    padding: 8px 16px;
}

#about_profil{ /* Define the div of the about content */
    margin-left: 15vw;
    margin-right: 15vw;
    height: 74vh;
    text-align: center; 
}

#learning, #rl, #contacts { /* Define the 3 part of the about */
    display: inline-block;
    vertical-align: center;
    position: relative;
    width: 30vw;
    border-style: solid;
    border-color: red;
    border-width: 0.2vw;
    margin-bottom: 2vh;
    height: 35vh;
}

#learning { /* Align left the learning part */
    float: left;
}

#rl { /* Align right the rl part */
    float: right;
}

.about_title{ /* Define the title of the two part */
    margin-left: 15%; margin-right: 15%;
    margin-top: 2.5%;
    vertical-align: middle;
    display: inline-block;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 2vmin;
    padding: 0.2vh 0.5vw;
}

.about_content { /* Define the content of the two part */
    margin: 5%;
    font-size: 1.6vmin;
}

.git_link { /* Define the git link of my gitlab profil */
    position: absolute;
    bottom: 5%;
    left: 0; right: 0;
    font-size: 1.7vmin;
    color: blue;
}

.git_link:hover { /* Just underline on hover */
    text-decoration: underline;
}

#epitech { /* Define the link to the site of my futur school */
    color: inherit;
}

#list_contacts { /* style the list of contacts */
    margin-top: 10%;
    margin-left: 15%;
    text-align: left;

}

#discord, #steam { /* style the 2 part */
    display: inline-block;
    margin-bottom: 5%;
}

.logo { /* style the 2 img */
    vertical-align: middle;
    display: inline-block;
    max-width: 10vmin;
    height: auto;
}

#steam .logo { /* because the size diffenrence was ugly */
    transform: scale(0.8);
}

.contacts_title { /* style the text next the logo */
    vertical-align: middle;
    display: inline-block;
    width: auto;
    font-size: 1.7vmin;
}

.language { /* Set parent position to relative for later absolute position */
    position: relative;
}

#html_title, #python_title { /* Define title of projects */
    display: block;
    width: 100%;

    color: green;
    font-size: 3vmin;

    margin: 2vh 0;
}

#python_title { /* Change color for python */
    color: orange;
}

.list_app { /* Define ul for each different part of projects list */
    margin-left: 9vw;
    margin-right: 9vw;
    width: inherit;
}

li.app { /* Define li for all project */
    display: inline-block;
    
    width: 30%;
    height: 18vh;
    margin: 0.3vh 0;
}

div.app { /* Define div of content of li for each project */
    height: inherit;
    border: 1px solid red;
    overflow: hidden;
}

#app_link /* Define the clickable area */
{
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
    color : blue;
    font-weight: bold;
    text-decoration: none;
    font-size: 2vh;
}

#app_info { /* Define div of info of project */ /* Same way of work as for the main menu but here it's with hover */
    position: relative;
    height: 0;
    top: 100%;
    overflow: hidden;
    transition: 0.3s ease;
}

#app_link:hover #app_info { /* Set height to 100% for the content to take the full place so there isn't anymore overflow */
    height: 100%;
    top: 40%;
    text-decoration-style: none;
}

.app_title { /* Define the title of each project */
    position: absolute;
    top: 50%; left: 0; right: 0;
    font-size: 1.6vh;
    transition: 0.3s ease;
}

#app_link:hover .app_title { /* move title on hover */
    top: 5%;
    text-decoration: underline red;
}

#info { /* Define text info about the project */
    position: relative;
    color: black;
    margin: 1vh 2vw;
    font-size: 1.6vmin;
    height: 100%;
}

div.balou /* Define div of the 2 pictures */
{  
    justify-content: space-around;
    display: flex;
    align-items: center;
    max-height: 100%;
    padding: 2.5vh 0;
    margin: 2.5vh 0;
}

.balou_img{ /* Define height et width max because the only two <img> are for balou picture */
    display: inline-block;
    max-width: 25vw;
    max-height: 408px;
    height: auto;
}


footer{ /* style footer */
    position: absolute;
    font-size: 1.7vh;
    left: 0; right: 0; top: 100%;
    bottom: 0;
    text-align: center;
    color: blue;
}

#bottom_nav { /* style bottom navbar */ 
    display: flex;
    justify-content: space-around;
    margin: 0 5%;
    padding: 1% 0;
    margin-bottom: 2%;
}

#home_page, #ent { /* style element of bottom navbar */
    text-decoration: none;
    font-weight: bold;
    padding: 0.5%;
    color: blue;
}

#home_page{ /* the client is already on the page */
    background-color: blue;
    color: white;
}

