footer{ /* Fixed footer */
    position: absolute;
    font-size: 1.7vh;
    left: 0; right: 0; top: 100%;
    bottom: 0;
    text-align: center;
    color: blue;
}

#bottom_nav {
    display: flex;
    justify-content: space-around;
    margin: 0 5%;
    padding: 1% 0;
    margin-bottom: 2%;
}

#home_page, #ent {
    text-decoration: none;
    font-weight: bold;
    padding: 0.5%;
    color: blue;
}
