body{ /* Set background color for body so for whole page*/
    background-color: dimgrey;

}

h1 { /* Size for the main title*/
    font-size: 2.5rem;
}

button { /* style all button */
    object-fit: contain;
    background-color: white;
    color: black;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
}

#title{ /* style for all title */
    text-align: center;
    color: black;
}

#ingre{ /* style all list */
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

div.valid{ /* center the button */
    display: flex;
    justify-content: center;
}

div.com{  /* style the command list */
    display: flex;
    justify-content: space-around;
}

button.ing{ /* general style for the ingredients*/
    height:150px; width:150px;
    background-size: 150px 150px;
    background-repeat: no-repeat;
    display: inline-block;
}

/* change each background for each ingredients */

button.tomate{
    background-image: url(../my_cook/image/tomate.jpg);
}

button.fromage{
    background-image: url(../my_cook/image/fromage.png);
}

button.pate{
    background-image: url(../my_cook/image/pate.jpg);
}

button.oeuf{
    background-image: url(../my_cook/image/oeuf.jpg);
}

button.farine{
    background-image: url(../my_cook/image/farine.jpg);
}

button.lait{
    background-image: url(../my_cook/image/lait.jpg);
}

button.creme{
    background-image: url(../my_cook/image/creme.jpg);
}

button.lardons{
    background-image: url(../my_cook/image/lardons.jpg);
}

footer{ /* style footer */
    position: absolute;
    font-size: 1.7vh;
    left: 0; right: 0; top: 100%;
    bottom: 0;
    text-align: center;
    color: blue;
}

#bottom_nav { /* style bottom navbar */ 
    display: flex;
    justify-content: space-around;
    margin: 0 5%;
    padding: 1% 0;
    margin-bottom: 2%;
}

#home_page, #ent { /* style element of bottom navbar */
    text-decoration: none;
    font-weight: bold;
    padding: 0.5%;
    color: blue;
}