* {
    box-sizing: border-box;
  }

html {
    height: 100%;
}


body {
    position: relative;
    margin: 0;
    padding: 3vh 0 0 0;
    width: 100%;
    min-height: 100%;
}

h1 {
    text-align: center;
    color: red;
    font-size: 5vh;
}

h2 {
    width: 90%;
    margin: 2vh auto;
    padding: 1.5vh 0;
    text-align: center;
    background-color: blue; 
    color: white;
    font-weight: bolder;
}

h3 {
    margin: 0.8vh auto;
    padding: 0.8vh 0;
    border-radius: 30px;
    width: 85%;
    text-align: center;
    font-size: 2vh;
}

h3.not_done {
    background-color: red 
}

h3.done {
    background-color: green;
}

#character_select {
    display: block;
    margin: auto
}

.cross {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.4vh 2vh ;
}

.cross:hover {
    background-color : red; 
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2vh;
}

ul>li {
    position: relative;
    margin: auto;
    padding: 1.4vh 0.8vh;
    width: 80%;
    list-style-type: none;
}

ul>li:hover {
    background-color: lightgray;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: blue;
    text-align: center;

}
